@import '../base/variables';

.item {
  background-color: white;
  color: $dark-gray;
  border: 1px solid lightgray;
  border-bottom: 1px solid black;
  border-radius: 3px;
  padding: 1.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.item__icon {
  margin-bottom: 2.1rem;
}

.item__icon::before {
  color: lighten($color: $dark-gray, $amount: 40%);
  background-color: lighten(lightgray, 12%);
  padding: 0.7rem;
  border-radius: 50%;
}

.item__title {
  font-size: 1.6rem;
  font-weight: bold;
}

.item__subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.item__button {
  color: white;
  background: #27ae60;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  padding: 0.7rem 1.4rem;
  margin: 1rem 0.5rem;
}

.item__button:focus,
.item__button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
